* {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.FullSlide {
  position: absolute;
  left: 0;
  top: 50%;
  max-width: none !important;
  width: 100%;
  max-height: none !important;
  padding: 0 !important;
}

.Interactive {
  transform: translateY(-50%);
  min-height: 333px;
  text-align: left;
  width: 100%;
  padding: 0 0.5rem;
  margin: 0;
}

.Interactive .playground {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  width: 100%;
}

.Interactive .playgroundCode:before, .Interactive .playgroundPreview:before {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.Interactive .playgroundCode:before {
  content: "Interactive Code";
  position: absolute;
  top: -1.4em;
  left: 0;

  font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #91887e;
}

.Interactive .playgroundCode {
  flex: 0 0 100%;
  position: relative;
  margin-bottom: 2em;
  padding: 6px 6px 0 6px;

  vertical-align: top;
  background: #ffffff;
  font-size: 1rem;
  line-height: 1.2;
  border: 3px solid #d1c7bc;
}

.Interactive .playgroundPreview:before {
  content: "Live Preview";
  position: absolute;
  top: -1.4em;
  left: 0;

  font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #91887e;
}

.Interactive .playgroundPreview {
  flex: 0 0 100%;
  vertical-align: top;
  background: #ffffff;
  position: relative;
  border: 3px solid #d1c7bc;
}

.Interactive pre, .CodeMirror-code {
  font-family:' Source Code Pro', Inconsolata, 'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1.2;
}

@media screen and (min-width: 70em) {
  .Interactive .playground {
    display: flex;
    flex-wrap: wrap;
  }

  .Interactive .playgroundCode {
    display: flex;
    flex: 1;
    margin-right: 0.5em;
    margin-bottom: 0;
  }

  .Interactive .playgroundPreview {
    display: flex;
    flex: 1;
    margin-left: 0.5em;
  }
}

.CodeMirror {
  height: auto;
}

.spectacle-slide {
  border-top: 2px solid #c23b33;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/* Firefox */
_:-moz-tree-row(hover), .spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover), ul .appear {
  display: inline;
}

.spectacle-slide em {
  color: #bd4139;
  font-style: normal;
}

a:hover {
  color: #d36556 !important;
}
