* {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.Interactive {
  min-height: "333px";
}

.Interactive .playground {
  display: "flex";
  flex-wrap: "wrap";
  margin-bottom: "24px";
}

.Interactive:before, .Interactive .playgroundPreview:before {
  font-family: "Didot, Bodoni MT, Cochin, Baskerville, Goudy Old Style, Bitstream Charter, serif";
  font-weight: "bold";
  font-size: "1rem";
  line-height: 1;
  letter-spacing: "0.05em";
  text-transform: "uppercase";
}

.Interactive:before {
  content: "Interactive Code";
}

.Interactive .playgroundCode {
  flex: "0 0 100%";
  max-width: "300px";
  vertical-align: "top";
  background: "#fff";
  font-family: "Source Code Pro, Inconsolata, Courier New, Courier, monospace";
  font-size: "1rem";
  line-height: 1.2;
  margin-bottom: "30px";
  padding: "16px 16px 0 16px";
  border: "1px solid #ebe3db";
}

.Interactive .playgroundPreview {
  flex: "0 0 100%";
  vertical-align: "top";
  background: "#fff";
  position: "relative";
  border: "1px solid #ebe3db";
}

.Interactive .playgroundPreview:before {
  content: "Live Preview";
  position: "absolute";
  top: "-18px";
}

.Interactive pre, .CodeMirror-code {
  font-family: "'Source Code Pro', 'Inconsolata', 'Courier New', 'Courier', monospace";
  font-size: "1rem";
  line-height: 1.2;
}

.CodeMirror {
  height: "auto";
}

.spectacle-slide {
  border-top: 2px solid #c23b33;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/* Firefox */
_:-moz-tree-row(hover), .spectacle-deck {
  perspective: 1000px;
}

_:-moz-tree-row(hover), ul .appear {
  display: inline;
}

.spectacle-slide em {
  color: #bd4139;
  font-style: normal;
}

a:hover {
  color: #d36556 !important;
}
